<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="20"
                    alt="MDB Logo" loading="lazy" />
            </a>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/todolist']">To do List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register</a>
                    </li>
                </ul>
            </div>
            <div>
                <form class="d-flex input-group w-auto">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                </form>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
